@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

/*FONDO SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/*SELECTOR*/
::-webkit-scrollbar-thumb {
    background: #00CE8C;
    ;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 171, 142);
    ;
}

/* TIPOGRAFIAS */
.ubuntu {font-family: 'Ubuntu', sans-serif;}

.fw300 {
    font-weight: 300;
}

.fw700 {
    font-weight: bold;
}

.asd {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portada {
    position: relative;
    background-image: url(../img/resto1.jpg);
    background-color: aqua;
    color: rgb(198, 198, 198);
    padding: 7%;
    box-shadow: inset 0 0 400px black;
    height: 350px;
}

.portada .texto {
    position: absolute;
    bottom: 60px;
}

.busqueda {
    position: absolute;
    bottom: -25px;
    background-color: white;
    width: 86%;
    height: 60px;
    margin: auto;
    box-shadow: 0 18px 20px -8px rgba(0, 0, 0, 0.452);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;
}

.busqueda .icono {
    height: 60px;
    width: 60px;
    background-color: #00CE8C;
    text-align: center;
    line-height: 60px;
}

.icono.material-symbols-outlined {
    font-size: 24pt;
}

.busqueda input[type = "submit"] {
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    background-color: transparent;
}

.busqueda input[type = "search"] {
    height: 100%;
    width: calc( 100% - 120px );
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 12pt;
}

.busqueda input[type = "search"]:focus {
    font-size: 14pt;
    transition: all 300ms ease;
}

.busqueda input[type = "submit"]:active {
    font-size: 24pt;
}

.menu {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}

.menu ul li {
    height: 60px;
    flex: 0 0 110px;
    text-align: center;
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
}

.productos {
    background-color: white;
    padding: 20px;
}

.pa {position: absolute;}
.posrel {position: relative;}

.valoracion {
    position: absolute;
    background-color: #00CE8C;
    height: 60px; width: 60px;
    text-align: center;
    line-height: 60px;
    bottom: -20px;
    right: 20px;
    color: black;
    font-weight: 700;
    border-radius: 15px 0;
    box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.404);
}

.precio {
    position: absolute;
    height: 60px; width: 60px;
    text-align: center;
    line-height: 60px;
    bottom: -70px;
    right: 20px;
    color: black;
    font-weight: 700;
    color: #00CE8C;
}

.restos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 10px 15px;
    /* background-color: red; */

}

.card {
    display: flex;
    flex: 1 0 160px;
    width: 96%;
    /* background-color: blue; */
    height: 160px;
    box-shadow: 0 0 15px 2px rgb(148, 148, 148);
    border-radius: 20px 0 0 20px;
}

.img > img {
    height: 100%;
    object-fit: cover;
}

.img_menu > img {
    height: 100%;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card .img {
    flex: 0 0 40%;
    background-color: white;
    overflow: hidden;       
    border-radius: 10px 0 0 10px;
}

.card .datosresto {
    position: relative;
    padding: 12px;
    padding-top: 50px;
    flex: 0 0 60%;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .valores {
    display: flex;
    justify-content: space-between;
 }

 .f12 {

    font-size: 12pt!important;
 }

 .puntuacion {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 50px;
    width: 50px;
    background-color: #00CE8C;
    text-align: center;
    line-height: 40px;
    border-radius: 0 15px;
}

ul {list-style-type: none;}

main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

main ul {
    display: flex;
    justify-content: space-around;
    gap: 35px;
}

main ul li {text-align: center;}

/* COLORES ICONOS */
i.icon-red {
    color: #FF4F28;
}

i.icon-orange {
    color: #FF9938;
}

i.icon-orange2 {
    color: #FFBA78;
}

.nav_mobile {
    /* background-color: blue; */
    position: fixed; /* elemento fijo en la pantalla */
    bottom: 0;
    width: 100%;
}

.nav_mobile ul {
    /* padding: 13px; */
    display: flex;
    justify-content: space-between;
    /* list-style: none; */
    background-color: white;
}
 
.nav_mobile ul li {
    height: 60px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}

.nav_mobile a {
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.nav_mobile ul li:hover {
    color: black;
    border-top: solid 4px #00CE8C;
}

/* PROPIEDADES PARA menu.html */

/* ordenamiento de elementos */



.flex{display: flex;}
.centrar_v{align-items: center;}
.centrar_h{justify-content: center;}

.banner{
    width: 100%; 
    background-color: white;
    padding: 20px;
}

.banner button {
    left: 20px;
    background-color: transparent;
    border: 0;
}

.banner button:hover {
    background-color: #00CE8C;
}

.item_menu {
    /* background-color: violet; */
    width: 90%;
    display: flex;
    flex: 0 0 110px;
    height: 110px;
    padding-top: 5px;
    box-shadow: 0 0 15px 2px rgb(224, 224, 224);
    border-radius: 20px;
}

.valoracion_menu {
    position: relative;
    background-color: #00CE8C;
    height: 25px; width: 60px;
    text-align: center;
    line-height: 25px;
    top: -45px;
    left: 50px;
    color: white;
    font-weight: 700;
    border-radius: 15px 0;
    box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.253);
}

.plato {
    /* background-color: yellow; */
    height: 100px;
    width: 100px;
    padding-left: 30px;
    border-radius: 50%;
}

.item_menu span  {
    background-color: orange;
}

.descripcion {
    padding: 30px 0 10px 60px;
}

.underline {
    
    text-decoration-line: underline;
}

/* producto */
.producto {
    height: 450px;
    width: 100%;
    overflow: hidden;
    background-color: yellow;
}

.obj_fit {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.producto .titulo {
    z-index: 10;
    background-color: red;
    /* height: 20px; */
    width: 70%;
    bottom: 0;
}

.main {
    background-color: blue;
    height: 100vh;
    width: 100%;
}

.cuadrado {
    height: 80px;
    width: 80px;
    background-color: rgb(37, 106, 149);
}