@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

::-webkit-scrollbar {
    /* display: none; */
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #00CE8C;
    ;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 171, 142);
}

.ubuntu {font-family: 'Ubuntu', sans-serif;}

.fw {
    font-size: 130%;
    font-weight: bold;
}

.barra_sup2 {
    /* background-color: rgba(0, 247, 255, 0.349); */
    /* background-color: #3F9875; */
    background-color: white;
    height: 70px;
    color: white;
    padding-top: 20px;
}

.barra_sup {
    display: flex;
    padding: 0 10px 0 10px;
    /* background-color: rgb(17, 170, 0); */
    /* background-color: #5ac59a; */
    /* width: 100%; */
    height: 27px;
    color: black;
    justify-content: space-between;
}

.contenido {
    width: 100%;
    height: 100%;
    padding: 10px 7% 0 7%;
}

body {
    color: black;
    /* background-color: #5ac59a; */
    /* height: 100vh; */
}

.asd {
    margin: 10px;
}

.flecha {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    justify-content: center;
}

.corazon {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.549);
    justify-content: center;
}

.compartir {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.549);
    justify-content: center;
}

.iconos1 {
    position: absolute;
    border: solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.064);
    padding: 6px 0 0 0;  /* arriba-derecha-abajo-izquierda */
    left: 28px;
}

.iconos2 {
    position: absolute;
    border: solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.064);
    padding: 6px 0px 0 0;  /* arriba-derecha-abajo-izquierda */
    left: 275px;
}

.iconos3 {
    position: absolute;
    border: solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.064);
    padding: 6px 0px 0 0;  /* arriba-derecha-abajo-izquierda */
    left: 325px;
}

.foto1 img {
    width: 340px;
    height: auto;
    border-radius: 20px;
}

.nombre_res {
    position: relative;
    top: 10px;
    /* background-color: red; */
    /* background-color: #5ac59a; */
    width: 60%;
    height: 50px;
    display: flex;
    /* justify-content: left; */
    padding: 15px 0 0 0;  /* arriba-derecha-abajo-izquierda */
    font-size: 33px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bold;
}

.map {
    position: relative;
    /* background-color: violet; */
    /* background-color: #5ac59a; */
    width: 42%;
    height: 50px;
    bottom: 40px;
    left: 57%;
    display: flex;
    justify-content: center;
    padding: 28px 0 0 55px;  /* arriba-derecha-abajo-izquierda */
}

.texto_res {
    position: relative;
    /* background-color: blue; */
    height: 80px;
    bottom: 20px;
    font-weight: 600;
}

.lugar {
    position: relative;
    /* background-color: brown; */
    width: 49.7%;
    color: rgba(0, 0, 0, 0.473);
}

.rating {
    position: relative;
    /* background-color: blue; */
    top: 10px;
    color: goldenrod;
}

.rating1 {
    position: relative;
    /* background-color: cadetblue; */
    width: 40.7%;
    bottom: 17px;
    left: 30px;
    font-size: 15pt;
}

.telefono {
    position: relative;
    /* background-color: burlywood; */
    width: 50px;
    height: 50px;
    bottom: 68px;
    left: 288px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.064);
    border-radius: 50%;
    padding: 10px 0 0 10px;  /* arriba-derecha-abajo-izquierda */
}

.fotos {
    position: relative;
    bottom: 40px;
    
}

.slider img {
    width: 170px;
    height: auto;
    border-radius: 10px;
    
}

ul.slider li img {
    /* background-color: red; */
    width: 150px;
    height: 100px;
    
} 

.fotos ul {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    
}

.fotos ul li {
    /* background-color: red; */
    /* position: relative; */
    padding: 0 13px 0 0;
    height: 110px;
    flex: 0 0 110px;
    text-align: center;
    list-style: none;
}

.titulo_menu {
    color: black;
    position: relative;
    /* background-color: red; */
    bottom: 25px;
    height: 50px;
    display: flex;
    padding: 15px 0 0 1px;  
    font-size: 33px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bold;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}

.slider_menu {
    width: 100%;
    /* background-color: red; */
    padding: 0 10px 0 0;
    display: flex;
    position: relative;
    bottom: 10px;
}

.menu ul li {
    /* background-color: red; */
    padding: 25px 20px 0 0;
    height: 60px;
    flex: 0 0 90px;
    text-align: center;
    list-style: none;
}

.menu ul li :hover {
    position: relative;
    border: solid;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.11);
    background-color: #4cb88d;
    height: 45px;
    padding: 5px 17px 5px 17px;
    text-align: center;
}

.menu ul li :active {
    position: relative;
    border: solid;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.11);
    background-color: #4cb88d;
    height: 45px;
    padding: 5px 17px 5px 17px;
    text-align: center;
}

.productos {
    padding-bottom: 15px;
}

.prod {
    /* background-color: red; */
    color: black;
    width: 100%;
    display: flex;
    flex: 0 0 110px;
    height: 60px;
    padding: 17px 27px 0 27px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.064);
    border-radius: 50px;
    justify-content: space-between;
    position: relative;
}

.enviar {
    background-color: black;
    border: solid;
    border-color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    position: relative;
    bottom: 15px;
    left: 24px;
}

/* arriba-derecha-abajo-izquierda */