@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.ubuntu {font-family: 'Ubuntu', sans-serif;}

.fw {
    font-size: 130%;
    font-weight: bold;
}

.barra_sup2 {
    /* background-color: rgba(0, 247, 255, 0.349); */
    /* background-color: #3F9875; */
    background-color: white;
    height: 60px;
    color: white;
    padding-top: 10px;
}

.barra_sup {
    display: flex;
    padding: 0 10px 0 10px;
    /* background-color: rgb(17, 170, 0); */
    background-color: #5ac59a;
    /* width: 100%; */
    height: 27px;
    color: white;
    justify-content: space-between;
}

.contenido {
    width: 100%;
    height: 100%;
    padding: 10px 7% 0 7%;
}

body {
    color: white;
    background-color: #5ac59a;
}

.asd {
    margin: 10px;
}

.flecha {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    justify-content: center;
}

.corazon {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.549);
    justify-content: center;
}

.compartir {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.549);
    justify-content: center;
}

.iconos1 {
    position: absolute;
    border: solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.064);
    padding: 6px 0 0 0;  /* arriba-derecha-abajo-izquierda */
    left: 28px;
}

.iconos2 {
    position: absolute;
    border: solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.064);
    padding: 6px 0px 0 0;  /* arriba-derecha-abajo-izquierda */
    left: 275px;
}

.iconos3 {
    position: absolute;
    border: solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.064);
    padding: 6px 0px 0 0;  /* arriba-derecha-abajo-izquierda */
    left: 325px;
}