@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 10px;
} */

::-webkit-scrollbar {
    display: none;
}

.roboto {font-family: 'Roboto';}

.ubuntu {font-family: 'Ubuntu', sans-serif;}

.principal {
    height: 100vh;
    background-color: rgb(235, 235, 235);
}

.promo {
    width: 100%;
    height: 45%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.226)), 
    url("campera1.jpg");
    color: white;
    border-radius: 0 0 25px 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caja_buscador {
    position: relative;
    bottom: -25px;
    /* background-color: green; */
    width: 86%;
    height: 60px;
    margin: auto;
    /* box-shadow: 0 18px 20px -11px rgba(0, 0, 0, 0.452); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.caja_buscador .icono {
    height: 60px;
    width: 60px;
    color: black;
    /* background-color: #00CE8C; */
    text-align: center;
    line-height: 60px;
}

.caja_buscador input[type = "submit"] {
    height: 60px;
    width: 20%;
    /* background-color: rgba(255, 255, 255, 0.507); */
    background-color: rgba(255, 255, 255, 0.26);
    border: none;
    outline: none;
    color: white;
    font-size: 25pt;
    /* background-color: transparent; */
}

.caja_buscador input[type = "search"] {
    height: 100%;
    /* width: calc( 100% - 120px ); */
    width: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 14pt;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
}

::placeholder {
    color: white;
}

.caja_buscador input[type = "search"]:focus {
    font-size: 16pt;
    transition: all 200ms ease;
}

.caja_buscador input[type = "submit"]:active {
    font-size: 30pt;
    transition: all 200ms ease;
}

.nombre_promo {
    width: 100%;
    height: 80%;
    /* background-color: cyan; */
}

.titulo1 {
    /* background-color: red; */
    display: flex;
    position: relative;
    /* margin: 117px 0 0 20px; */
    bottom: -235px;
    left: 20px;
    font-size: 10px;
}

.titulo2 {
    /* background-color: green; */
    display: flex;
    position: relative;
    /* margin: 145px 0 0 20px; */
    bottom: -240px;
    left: 20px;
    font-size: 16px;
}

.titulo3 {
    /* background-color: blue; */
    display: flex;
    position: relative;
    /* margin: 190px 0 0 0; */
    bottom: -240px;
    font-size: 14px;
}

.titulo4 {
    /* background-color: violet; */
    display: flex;
    position: relative;
    /* margin: 194px 0 0 115px; */
    bottom: -212px;
    left: 120px;
    font-size: 10px;
}

.precios {
    /* background-color: red; */
    /* width: 100%; */
    /* margin: 115px 0 0 0; */
    margin: 0 0 0 20px;
}

.linea-desc {
    position: relative;
    background-color: rgb(255, 255, 255);
    /* background-color: red; */
    height: 2px;
    width: 80px;
    top: 11px;
    right: 75px;
}

.linea-desc1 {
    position: relative;
    /* background-color: rgb(255, 255, 255); */
    background-color: gray;
    height: 2px;
    width: 64px;
    bottom: 9px;
    left: 80px;
}

.trending1 {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 0 20px 10px 20px;
    align-items: center;
    font-size: 16pt;
}

.circulos {
    background-color: rgb(235, 235, 235);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circulo1 {
    background-color: rgb(106, 255, 156);
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin: 0 5px;
}

.circulo2 {
    background-color: rgb(106, 255, 156);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin: 0 5px;
}

.circulo3 {
    background-color: rgb(106, 255, 156);
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin: 0 5px;
}

.foto-trend {
    position: relative;
}

.foto-trend ul {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}

.foto-trend ul li {
    margin: 10px 5px 0 15px;
    height: 202px;
    flex: 0 0 110px;
    text-align: center;
    list-style: none;
    background-color: white;
    border-radius: 14px;
}

ul.slider li img {
    width: 150px;
    height: 130px;
}

.slider img {
    width: 100px;
    height: auto;
    border-radius: 14px 14px 0 0;
}

.nombre {
    position: relative;
    width: 100%;
    height: 25px;
    font-size: 11pt;
    /* font-weight: bold; */
    padding: 5px 66px 0 0;
}

.info {
    width: 100%;
}

.precio {
    /* background-color: red; */
    display: flex;
    position: relative;
    margin: 0 0 0 10px;
    font-size: 14pt;
    font-weight: bold;
}

.descuento {
    /* background-color: green; */
    display: flex;
    position: relative;
    margin: -20px 0 0 85px;
    font-size: 11pt;
    color: gray;
}

.categories {
    background-color: rgb(235, 235, 235);
    /* background-color: red; */
    padding: 0 0 20px 0;
}

.categorias {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 15px 20px 10px 20px;
    align-items: center;
    font-size: 16pt;
}

.woman-man-principal {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-woman {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 90%;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.caja-texto {
    /* background-color: rgba(0, 255, 255, 0.336); */
    display: flex;
}

.woman-icon {
    font-size: 35pt;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    color: grey;
}

.texto-man-woman {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-woman {
    /* background-color: azure; */
    margin: 0 10px;
    font-size: 15pt;
    color: grey;
}

.parentesis-items {
    /* background-color: burlywood; */
    margin: 0 5px;
    font-size: 13pt;
    color: rgb(163, 163, 163);
}

.caja-flecha {
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flecha {
    font-size: 20pt;
    margin: 0 15px;
}

/* ---------------------FIN PRINCIPAL--------------------- */
